@media (max-width: 768px) {
  #modal {
    width: 90%;
    position: fixed;
    top: 10%;
   left: 5%;
  }
}

* {
  font-family: sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: rgb(32, 32, 32);
}

.displayNone {
  display: none;
}
@keyframes animation {
  from {
    opacity: 0;
    transform: translateX(150%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
.on {
  animation-name: animation;
  -webkit-animation-name: animation;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
}
.off {
  display: none;
}
section {
  margin: 0px 150px;
}

img {
  width: 250px;
  height: 180px;
}

.jumbotron {
  background-color: #f2f2f2;
  margin: 0;
}

.jumbotron .btn {
  color: #fff;
  border: none;
  padding: 5px 45px;
  margin: 0 15px;
}
.jumbotron .btn:hover {
  color: #fff;
  background-color: #106674;
}

.sections p {
  margin: 20px;
  font-size: 14px;
  color: #333;
  font-weight: 600;
  text-align: left;
  height: 80px;
  padding-left: 20px;
}
.sections .row > div {
  border-radius: 5px;
  padding-bottom: 10px;
  padding-bottom: 50px;
}
.sections .row > div:hover {
  box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  transition: 300ms ease-out;
  background-color: rgb(246, 245, 245);
}
.sections div {
  margin: 20px 0px;
}
.sections h3 {
  margin: 40px 0px;
}

@keyframes modalAnimOn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.modalDisplay {
  border-radius: 5px;
  z-index: 100;
  background-color: #fcfcfc;
  box-shadow: 15px 15px 27px #959595;
  width: 50%;
  position: fixed;
  top: 20%;
  left: 22%;
  animation-name: modalAnimOn;
  -webkit-animation-name: modalAnimOn;
  animation-duration: 500ms;
  -webkit-animation-duration: 500ms;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
}
.modalDisplay img {
  width: 50%;
  height: 70%;
  display: block;
  margin: 20px auto;
}

.modalDisplay #text_modal {
  text-align: center;
  height: 70%;
  margin: 20px 10px;
}

#close {
  cursor: pointer;
  position: relative;
  left: 93%;
  margin-top: 5px;
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 100%;
  font-weight: 500;
  color: #f2f2f2;
  background-color: #333;
}

#close:hover {
  background-color: #f2f2f2;
  border: #333 solid 1px;
  color: #333;
  transition: 300ms ease-out;
}

.filterMain {
  filter: opacity(0.3) grayscale(80%);
}
