


*{
    font-family: sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: rgb(32, 32, 32);
    
}
.off{
    position: absolute;
    left: -9999px;
}
section{
    margin: 0px 150px;
}

img{
    width: 250px;
    height: 187px;
}

.jumbotron{
    background-color: #fff;
}

.jumbotron .btn{
    color: #fff;
    border: none;
    padding: 5px 45px;
    margin: 0 15px;

}
.jumbotron .btn:hover{
    color: #fff;
    background-color: #106674;
}

.sections p{
    margin: 20px;
    font-size: 14px;
    color: #333;
    font-weight: 600;
    text-align: left;
    height: 80px;
}
.sections div{
    margin: 20px 0px;
}
.sections h3{
    margin: 40px 0px;
}

.hide-infos{
    display:none;
}