/*#26b7b1*/


body{
    background-color: #DD5F2D;
    color: #ffffff;
    font-size: 16px;
}

main{
    margin-top: 10%;
}

#presentation h1{
    margin-bottom : 5%;
    text-shadow: 1px 1px 1px black;
    font-size: 54px;
  
}
#presentation p{
    margin-bottom: 2px;
    text-align: left;
}

#TurtlesPics{
    margin-top: 15%;
    margin-bottom: 15%;
    background-color: #26b7b1;
    padding: 5%;
    font-size: 18px;
    font-weight: 900;
} 

.pics{
    width: 65%;
    border-radius: 10%;
    margin-bottom: 10px;
   
}

.pics:hover{
    transition: 500ms ease;
    border-radius: 0%;
    box-shadow: 6px -5px teal;
}



